{% extends 'base/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'photo_loader/css/home.css' %}">
{% endblock %}

{% block title %} Главная страница {% endblock %}

{% block main %}

    <div class="logo_wrapper">
        <img src="{% static 'photo_loader/img/DomostroyLogo.png' %}" width="400" alt="Domostroy Logo">
    </div>

    <div class="wrapper">
        <h1> Главная страница </h1>
        <button onclick="redirect()" class="btn">Загрузить фото</button>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'photo_loader/js/home.js' %}"></script>
    <script>
        let photoLoader_redirect = "{% url 'photo_loader' %}"

    </script>
{% endblock %}
