{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/photo_loader/css/photo_loader.css' %}">
{% endblock %}

{% block title %} Загрузчик фото {% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ files_upload_form.files }}
        <input type="submit" value="Создать"/>
    </form>

    <div class="main_container">
        <div class="left_container">
            {% if user_photos %}
                {% for user_photo in user_photos %}
                    <div class="left_file_container">
                        <div class="radio_btn left_radio_btn">
                            <label class="lblRadio" for="user_{{ user_photo.name }}">Заменить</label>
                            <input class="inpRadio" type="radio" name="{{ user_photo.name }}"
                                   id="user_{{ user_photo.name }}">
                        </div>
                        <div class="left_img_container">
                            <img class="img" src="data:image/jpg;base64,{{ user_photo.data }}"
                                 alt="{{ user_photo.name }}" width="350" height="350">
                            <h2 class="file_name">{{ user_photo.name }} </h2>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mid_container">
            {% if products_name %}
                {% for product_name in products_name %}
                    <div class="product_name_container">
                        <h2>{{ product_name }}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="right_container">
            {% if server_photos %}
                {% for server_photo in server_photos %}
                    <div class="right_file_container">
                        <div class="right_img_container">
                            <img class="img" src="data:image/jpg;base64,{{ server_photo.data }}"
                                 alt="{{ server_photo.name }}"
                                 width="350" height="350">
                            <h2 class="file_name">{{ server_photo.name }}</h2>
                        </div>
                        <div class="radio_btn right_radio_btn">
                            <label class="lblRadio" for="server_{{ server_photo.name }}">Оставить</label>
                            <input class="inpRadio" type="radio" name="{{ server_photo.name }}"
                                   id="server_{{ server_photo.name }}">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {#        Place the js connection here for the photo_loader application#}
    {#        <script type="text/javascript" src="{% static 'photo_loader/js/scripts.js' %}"></script>#}
{% endblock %}
