{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/account/css/login-register.css' %}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="logo_wrapper">
    <img src="{%  static 'account/img/DomostroyLogo.png' %}" width="400" alt="Domostroy Logo">
</div>

<div class="wrapper">
    <form method="POST">
        <div class="back">
            <a href="http://127.0.0.1:8000/login">
                <i class="gg-arrow-left"></i>
            </a>
        </div>
        <h1>Register</h1>
        <div class="input_box">
            <input type="email" placeholder="Email" required>
        </div>
        <div class="input_box">
            <input type="text" placeholder="Username" required>
        </div>
        <div class="input_box">
            <input type="password" placeholder="Password" required>
        </div>
        <div class="input_box">
            <input type="password" placeholder="Repeat password" required>
        </div>
        <div class="remember_forgot">
            <label>
                <input type="checkbox">I have read... whatever
            </label>
            <a href="#">Terms of using</a>
        </div>
        <button type="submit" class="btn">Register</button>
    </form>
</div>
{% endblock %}
